<library path="car_rqt_gui_plugin">
  <class name="CarRqtGuiPlugin" type="car_rqt_gui.car_rqt_gui_plugin.CarRqtGuiPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      A custom RQT GUI plugin for controlling the car.
    </description>
    <qtgui>
      <label>Car Control GUI</label>
      <icon type="theme">applications-engineering</icon>
      <statustip>A custom GUI for controlling the car.</statustip>
    </qtgui>
  </class>
</library>
